
{% extends 'nav.html' %}

{% block content %}

<div class="container-fluid">  <!-- https://getbootstrap.com/docs/4.0/layout/grid/ ".container-fluid for width: 100% across all viewport and device sizes."" -->
    {% for frame_index, table_uuid, curr_table, page_length in uuid_table_list %}
        <div class="row">        
        <div class="col-auto-12">        <!-- https://stackoverflow.com/a/24177022 "col-*-6 spans 6 of 12 columns (half the width), col-*-12 spans 12 of 12 columns (the entire width)"-->
        <div class="card my-1 py-0">
            <div class="card-body p-2">

                <script type="text/javascript" class="init">
                    $(document).ready(function() {
                    $('#{{table_uuid}}').DataTable({"autoWidth": false, "scrollX": false, "lengthMenu": [5, 10, 25, 50, 75, 100 ], "pageLength": {{page_length}}});
                    });
                </script>

                {% if uuid_table_list|length > 1 %}

                <div class="card-header py-2 pl-1 pr-1">
                    <form class="form-inline" action="/command/{{session_uuid}}" method="POST">

                            <input type="hidden" name='frames' value='{{frame_index}}'>
                            <button type="submit" class="btn btn-danger btn-sm float-right py-1 ml-2" name="command" value="drop">
                                <span class="oi oi-x"></span>
                            </button> 
                            <button type="submit" class="btn btn-success btn-sm py-1 ml-1" name="command" value="keep">
                                <span class="oi oi-check"></span>
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm my-2 mr-sm-2 ml-sm-1 btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="bottom" data-copy='data = pandas.read_json(requests.get("http://localhost:5000/active/{{frame_index}}").text)'>
                                <span class="oi oi-clipboard"></span>
                            </button>
                        </form>
                    </div>
                {% endif %}

                <div class="card-body">
                    {{curr_table|safe}}
                </div>

            </div>                
        </div>
        </div>
        </div>
    {% endfor %}
</div>

<!-- <script>
    $(function(){
        $(document).on('click', function (e) {
                        //    e.stopPropagation()

            var target = $( e.target );
            var ddm = $('#HW')
            console.log(target);
            console.log(ddm);
            // if ( target.is( "dropdown" ) ) {
            //     // $(this).next('.dropdown-menu').toggle();
            //     console.log('HW');
            //     // e.preventDefault();

            // };

            // var table = $('.dataframe').DataTable();
            // table.on( 'user-select', function ( e, dt, type, cell, originalEvent ){ 
            //                                                                     //    e.preventDefault();
                                                                                //    console.log(e.target);
            //                                                                       });
            // $(this).next('.dropdown-menu').toggle();
        });
        // });
    });
</script> -->


<script> 
$(document).ready(function(){ 
var socket = io.connect('http://' + document.domain + ':' + location.port); 
socket.on('reload', function() {
    console.log('reload request received'); 
    window.location.reload(true);  
    }); 
}); 
</script> 

<script>
$(document).ready(function(){ 
    
    $(".form-inline, .form").on("submit", function(){
        console.log("I showed up");
    $('.loader').show()
    });

 });
</script>

<script>
$(document).ready(function(){ 
    $('.loader').hide()
    });
</script>


{% endblock %}