
{% extends 'nav.html' %}

{% block content %}

<div class="container-fluid">  <!-- https://getbootstrap.com/docs/4.0/layout/grid/ ".container-fluid for width: 100% across all viewport and device sizes."" -->
    {% for frame_index, table_uuid, curr_table, page_length, active_name in uuid_table_list %}
        <div class="row">        
        <div class="col-auto-12">        <!-- https://stackoverflow.com/a/24177022 "col-*-6 spans 6 of 12 columns (half the width), col-*-12 spans 12 of 12 columns (the entire width)"-->
        <div class="card my-1 py-0">
            <div class="card-body p-2">

                <script type="text/javascript" class="init">
                    $(document).ready(function() {
                    $('#{{table_uuid}}').DataTable({"autoWidth": false, "scrollX": false, "lengthMenu": [5, 10, 25, 50, 75, 100 ], "pageLength": {{page_length}}});
                    });
                </script>

                <div class="card-header">
                    <form action="/command" method="POST">
                        <input type="hidden" name='frames' value='{{frame_index}}'>
                        <button type="submit" class="btn btn-danger" name="command" value="drop">Drop</button> {{active_name}}
                            
                        <!-- </div> -->
                    </form>
                </div>

                <div class="card-body">
                    {{curr_table|safe}}
                </div>

            </div>                
        </div>
        </div>
        </div>
    {% endfor %}
</div>


<script> 
$(document).ready(function(){ 
var socket = io.connect('http://' + document.domain + ':' + location.port); 
socket.on('reload', function() { 
    console.log('reload request received'); 
    window.location.reload(true);  
    }); 
}); 
</script> 

{% endblock %}