{% extends 'layout.html' %}
{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light border-bottom border-dark py-1 mb-2">
    <a class="navbar-brand" href="/browser">Dataframe-Browser</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Start Here</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                    <form action="/command" method="POST">
                        <input type="hidden" name='filename' value='/home/nicholasc/projects/dataframe-browser/data/example.csv'>
                        <input type="hidden" name='bookmark' value='hello_world'>
                        <button type="submit" class="dropdown-item" name="command" value="open">Hello World</button>
                    </form>
                    
                    <!-- <div class="dropdown-divider"></div> -->
                </div>
            </li>
        </ul>


        <!-- <form class="form-inline my-2 my-lg-0" action="/command" method="POST">             -->
        <button class="btn btn-primary btn-sm my-2 my-sm-0 mx-1 pr-2 disabled" id="nav-create-bookmark-btn" type="button" data-toggle="modal" data-target="#create-bookmark-modal">
            <span class="oi oi-bookmark"></span>
        </button>
        <script>
            $(function(){
                if(!{{disable_nav_bookmark_button}})
                {
                    $('#nav-create-bookmark-btn').removeClass('disabled');
                } else {
                    $('#nav-create-bookmark-btn').removeAttr('data-toggle');
                };
            });
        </script>




        <!-- Go back to parent of browser active state -->
        <form class="form-inline my-2 my-lg-0" action="/command" method="POST">            
            <button type="submit" class="btn btn-primary btn-sm my-2 my-sm-0 disabled" name="command" value="back" id="nav-parent-back">
                <span class="oi oi-arrow-circle-left"></span>
            </button>
        </form>
        <script>
            $(function(){
                if(!{{disable_nav_parent_back}}){
                    $('#nav-parent-back').removeClass('disabled');
                }
            });
        </script>


        <form class="form-inline my-2 my-lg-0" action="/command" method="POST">            
            <button type="submit" class="btn btn-primary btn-sm my-2 my-sm-0 mr-sm-2 ml-sm-1 disabled" name="command" value="forward" id="nav-parent-forward">
                <span class="oi oi-arrow-circle-right"></span>
            </button>
        </form>
        <script>
            $(function(){
                if(!{{disable_nav_child_forward}}){
                    $('#nav-parent-forward').removeClass('disabled');
                }
            });
        </script>

        <form class="form-inline my-2 my-lg-0" action="/bookmarks" method="POST">
            <input class="form-control mr-sm-2" type="search" name='q'  placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

{% endblock %}


{% block content %}
{% endblock %}


