{% extends 'layout.html' %}
{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light border-bottom border-dark py-1 mb-2">
    <a class="navbar-brand" href="/browser">Dataframe-Browser</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        </ul>

        <!-- Go back to parent of browser active state -->
        <form class="form-inline my-2 my-lg-0" action="/command" method="POST">            
            <button type="submit" class="btn btn-primary btn-sm my-2 my-sm-0" name="command" value="back" id="nav-parent-back">
                <span class="oi oi-arrow-circle-left"></span>
            </button>
        </form>
        <script>
            $(function(){
                if({{disable_nav_parent_back}}){
                    $('#nav-parent-back').addClass('disabled');
                }
            });
        </script>


        <form class="form-inline my-2 my-lg-0" action="/command" method="POST">            
            <button type="submit" class="btn btn-primary btn-sm my-2 my-sm-0 mr-sm-2 ml-sm-1" name="command" value="forward" id="nav-parent-forward">
                <span class="oi oi-arrow-circle-right"></span>
            </button>
        </form>
        <script>
            $(function(){
                if({{disable_nav_child_forward}}){
                    $('#nav-parent-forward').addClass('disabled');
                }
            });
        </script>

        <form class="form-inline my-2 my-lg-0" action="/bookmarks" method="POST">
            <input class="form-control mr-sm-2" type="search" name='q'  placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

{% endblock %}


{% block content %}
{% endblock %}


