{% extends 'layout.html' %}
{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light border-bottom border-dark py-1 mb-2">
    <a class="navbar-brand" href="/browser">Dataframe-Browser</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Start Here</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#input-read-query-modal">Read Query</button>

                    <div class="dropdown-divider"></div>

                    <form action="/command" method="POST">
                        <input type="hidden" name='filename' value='/home/nicholasc/projects/dataframe-browser/data/example.csv'>
                        <input type="hidden" name='bookmark' value='Hello World'>
                        <button type="submit" class="dropdown-item" name="command" value="open">Hello World</button>
                    </form>
                    
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <button class="dropdown-item" data-toggle="collapse" data-target="#QueryCollapse">Query</button>
                    <button class="dropdown-item disabled" data-toggle="collapse" data-target="#GroupByCollapse" id='groupby-menu-item-button'>Group By</button>
                    
                    
                    <form action="/command" method="POST">
                        <button class="dropdown-item disabled" data-toggle="collapse" data-target="#ConcatenateCollapse" id='concatenate-menu-item-button' name='command' value='concat'>Concatenate</button>
                    </form>
                    <script>
                        $(function(){
                            if(!{{disable_concatenate_menu_button|default("true", false)}}){
                                $('#concatenate-menu-item-button').removeClass('disabled');
                            } else {
                                $('#concatenate-menu-item-button').prop('disabled',"disabled");
                            }
                        });
                    </script>

                    <div class="dropdown-divider"></div>

                    <button class="dropdown-item" data-toggle="collapse" data-target="#DropColumnsByCollapse" id='drop-columns-menu-item-button'>Drop Columns</button>
                    <button class="dropdown-item" data-toggle="collapse" data-target="#KeepColumnsByCollapse" id='keep-columns-menu-item-button'>Keep Columns</button>
                    
                </div>
            </li>
        </ul>

        <button class="btn btn-primary btn-sm my-2 my-sm-0 mx-1 pr-2 disabled" id="nav-create-bookmark-btn" type="button" data-toggle="modal" data-target="#create-bookmark-modal">
            <span class="oi oi-bookmark"></span>
            {{active_name_str}}
        </button>
        <script>
            $(function(){
                if(!{{disable_nav_bookmark_button|default("true", false)}})
                {
                    $('#nav-create-bookmark-btn').removeClass('disabled');
                } else {
                    $('#nav-create-bookmark-btn').prop('disabled',"disabled");
                };
            });
        </script>
        

        <div class="btn-group" role="group" aria-label="Navigation buttons">

            <!-- Go back to parent of browser active state -->
            <form class="form-inline my-2 my-lg-0" action="/command" method="POST">            
                <button type="submit" class="btn btn-primary btn-sm my-2 my-sm-0 disabled" name="command" value="back" id="nav-parent-back">
                    <span class="oi oi-arrow-circle-left"></span>
                </button>
            </form>
            <script>
                $(function(){
                    if(!{{disable_nav_parent_back|default("true", false)}}){
                        $('#nav-parent-back').removeClass('disabled');
                    } else {
                        $('#nav-parent-back').prop('disabled',"disabled");
                    }
                });
            </script>


            <form class="form-inline my-2 my-lg-0" action="/command" method="POST">            
                <button type="submit" class="btn btn-primary btn-sm my-2 mr-sm-2 ml-sm-1 disabled" name="command" value="forward" id="nav-parent-forward">
                    <span class="oi oi-arrow-circle-right"></span>
                </button>
            </form>
            <script>
                $(function(){
                    if(!{{disable_nav_child_forward|default("true", false)}}){
                        $('#nav-parent-forward').removeClass('disabled');
                    } else {
                        $('#nav-parent-forward').prop('disabled',"disabled");
                    }
                });
            </script>

            <button type="button" class="btn btn-secondary btn-sm my-2 mr-sm-2 ml-sm-1 btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="bottom" data-copy='data = {key:pandas.DataFrame(val) for key, val in requests.post("http://localhost:5000/active").json().items()}'>
                <span class="oi oi-clipboard"></span>
            </button>

        </div>

        <form class="form-inline my-2 my-lg-0" action="/bookmarks" method="POST">
            <input class="form-control mr-sm-2" type="search" name='q'  placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="collapse" id="GroupByCollapse">
    <div class="card card-body">
        <form class="form-inline my-2 my-lg-0" action="/command" method="POST">
            <label class="mr-2">Group columns:</label>
            
            <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" aria-label="First group">
                {% for col, num_unique_elem in (groupable_columns_dict or dict()).items() %}
                <label class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Unique: {{num_unique_elem}}">
                    <input type="checkbox" name="by" value={{col}}> {{col}}
                </label>
                {% endfor %}
            </div>
            
            <button type="submit" class="btn btn-outline-success btn-sm ml-2" name="command" value="groupby" data-toggle="tooltip" data-placement="top" title="Submit"><span class="oi oi-check"></span></button>
            <button type="button" class="btn btn-outline-danger btn-sm " data-toggle="collapse" data-target="#GroupByCollapse" data-toggle="tooltip" data-placement="top" title="Cancel"><span class="oi oi-x"></span></button>
        </form>
    </div>
</div>
<script>
    $(function(){
        if(!{{disable_groupby_menu_button|default("true", false)}}){
            $('#groupby-menu-item-button').removeClass('disabled');
        } else {
            $('#groupby-menu-item-button').prop('disabled',"disabled");
        }
    });
</script>

<div class="collapse" id="QueryCollapse">
    <div class="card card-body">
        <form class="form-inline my-2 my-lg-0" action="/command" method="POST">
            <label class="mr-2">Query:</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name='query'>
            
            <button type="submit" class="btn btn-outline-success btn-sm ml-2" name="command" value="query" data-toggle="tooltip" data-placement="top" title="Submit"><span class="oi oi-check"></span></button>
            <button type="button" class="btn btn-outline-danger btn-sm " data-toggle="collapse" data-target="#QueryCollapse" data-toggle="tooltip" data-placement="top" title="Cancel"><span class="oi oi-x"></span></button>
        </form>
    </div>
</div>

<div class="collapse" id="DropColumnsByCollapse">
    <div class="card card-body">
        <form class="form-inline my-2 my-lg-0" action="/command" method="POST">
            <label class="mr-2">Drop columns:</label>
            
            <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" aria-label="First group">
                {% for col in droppable_column_list %}
                <label class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Unique: {{num_unique_elem}}">
                    <input type="checkbox" name="columns" value={{col}}> {{col}}
                </label>
                {% endfor %}
            </div>
            
            <button type="submit" class="btn btn-outline-success btn-sm ml-2" name="command" value="drop" data-toggle="tooltip" data-placement="top" title="Submit"><span class="oi oi-check"></span></button>
            <button type="button" class="btn btn-outline-danger btn-sm " data-toggle="collapse" data-target="#DropColumnsByCollapse" data-toggle="tooltip" data-placement="top" title="Cancel"><span class="oi oi-x"></span></button>
        </form>
    </div>
</div>


{% endblock %}


{% block content %}
{% endblock %}


